{% extends 'adminbase.html.twig' %}
{% block title %}Üye Listesi{% endblock %}



{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row"><h1>Üye Listesi</h1> <a href="{{ path('admin_user_new') }}"class="btn btn-block btn-success">Üye Ekle</a></div>
        <div class="row"style="margin-top:3%">
            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>

                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{% for item in user.roles %}
                   {{ item }}
                    {% endfor %}</td>

                <td>{{ user.name }}</td>
                <td>{{ user.status }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>

{% endblock %}
